*{ 
margin: 0;
padding: 0;
}

/* Estilos generales */
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

/* Estilos generales */
.container {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}

/* Estilos de la barra de navegación */
.navbar {
background-color: var(--black);
padding: 10px 20px;
position: relative;
}

.navbar .container {
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar-logo {
display: flex;
align-items: center;
text-decoration: none;
transition: transform 0.3s ease;
}

.navbar-logo img {
max-height: 100px;
max-width: 200px;
border-radius: 5px;
}

.navbar-menu {
display: flex;
list-style: none;
margin: 0;
padding: 0;
position: relative;
}

.navbar-menu li {
margin-right: 20px;
}

.navbar-menu li a {
color: var(--white);
text-decoration: none;
position: relative;
transition: transform 0.3s ease;
}

.navbar-menu li a:before {
content: "";
position: absolute;
bottom: -2px;
left: 0;
width: 0;
height: 2px;
background-color: var(--golden);
transition: width 0.3s ease;
}

.navbar-menu li a:hover:before {
width: 100%;
}

.navbar-menu li a:after {
content: "";
position: absolute;
top: -2px;
left: 0;
width: 0;
height: 2px;
background-color: var(--golden);
transition: width 0.3s ease;
}

.navbar-menu li a:hover:after {
width: 100%;
}

.navbar-menu li a:hover {
box-shadow: 0 0 10px 5px var(--golden);
}

.navbar-toggle {
display: none;
background-color: transparent;
border: none;
font-size: 20px;
cursor: pointer;
}

/* Estilos del menú desplegable */
.sub-menu {
display: none;
position: absolute;
background-color: #f8f8f8;
padding: 10px;
margin-top: 10px;
}

.navbar-menu li:hover .sub-menu {
display: block;
}

.sub-menu li {
margin: 5px 0;
}

.sub-menu li a {
color: #000;
text-decoration: none;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
.navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 10px;
}

.navbar-menu li {
    margin-right: 0;
    margin-bottom: 10px;
}

.navbar-toggle {
    display: block;
}
}

/* Estilos de reducción al pasar el cursor */
.navbar-menu li:hover {
transform: scale(0.95);
}

.navbar-logo:hover {
transform: scale(0.95);
}

/* Define la paleta de colores */
:root {
--golden: #ffd700;
--black: #000;
--white: #fff;
}
